Corrupted restore when restoring over HTTP2

<!--

Welcome! - We kindly ask that you:

  1. Fill out the issue template below - not doing so needs a good reason.
  2. Use the forum if you have a question rather than a bug or feature request.

The forum is at: https://forum.restic.net

NOTE: Not filling out the issue template needs a good reason, as otherwise it
may take a lot longer to find the problem, not to mention it can take up a lot
more time which can otherwise be spent on development. Please also take the
time to help us debug the issue by collecting relevant information, even if
it doesn't seem to be relevant to you. Thanks!

The forum is a better place for questions about restic or general suggestions
and topics, e.g. usage or documentation questions! This issue tracker is mainly
for tracking bugs and feature requests directly relating to the development of
the software itself, rather than the project.

Thanks for understanding, and for contributing to the project!

-->


Output of `restic version`
--------------------------
`restic 0.12.0 compiled with go1.15.8 on linux/amd64`

How did you run restic exactly?
-------------------------------
Commands:
```
# restic backup --tag=debug /work/root/test
repository 7fac121f opened successfully, password is correct
using parent snapshot b32766c7

Files:       11091 new,  1099 changed,  2899 unmodified
Dirs:            0 new,  1002 changed,     0 unmodified
Added to the repo: 21.578 GiB

processed 15089 files, 24.403 GiB in 6:10
snapshot 50f805e3 saved
```

```
# restic check --read-data
```


```
# restic restore -t /work/root/restore-0.12.0 50f805e3
```

Environment variables set:

```
RESTIC_REPOSITORY=s3:https://********/********
RESTIC_PASSWORD=********
AWS_ACCESS_KEY_ID=********
AWS_SECRET_ACCESS_KEY=********
```

<!--
This section should include at least:

 * The complete command line and any environment variables you used to
   configure restic's backend access. Make sure to replace sensitive values!

 * The output of the commands, what restic prints gives may give us much
   information to diagnose the problem!
-->

What backend/server/service did you use to store the repository?
----------------------------------------------------------------
minio RELEASE.2021-06-17T00-10-46Z with HTTP/2+TLS-enabled nginx 1.14.0 reverse proxy in front.


Expected behavior
-----------------
`restic check` and `restic restore` should complete successfully without errors, warnings or corrupted files.
<!--
Describe what you'd like restic to do differently.
-->

Actual behavior
---------------

`restic restore` fails to restore a few of the files:

```
# restic restore -t /work/root/restore-0.12.0 50f805e3
repository 7fac121f opened successfully, password is correct
restoring <Snapshot 50f805e3 of [/work/root/test] at 2021-06-21 12:03:44.383294673 +0000 UTC by root@********> to /work/root/restore-0.12.0
ignoring error for /work/root/test/dir737/0001.bin: unexpected EOF
Load(<data/8079cb1c40>, 4505258, 0) returned error, retrying after 357.131936ms: unexpected EOF
ignoring error for /work/root/test/large0014.bin: http2: server sent GOAWAY and closed the connection; LastStreamID=1999, ErrCode=NO_ERROR, debug=""
ignoring error for /work/root/test/large0065.bin: http2: server sent GOAWAY and closed the connection; LastStreamID=1999, ErrCode=NO_ERROR, debug=""
Fatal: There were 3 errors
```

The files that fail to restore are damaged (some regions in the files contain ascii NUL bytes instead of the expected content):

```
# diff -ru /work/root/test/ /work/root/restore-0.12.0/work/root/test/
Binary files /work/root/test/large0014.bin and /work/root/restore-0.12.0/work/root/test/large0014.bin differ
Binary files /work/root/test/large0065.bin and /work/root/restore-0.12.0/work/root/test/large0065.bin differ
```

`restic check` prints warnings like:

```
Load(<data/ec955d51b6>, 0, 0) returned error, retrying after 582.280027ms: unexpected EOF
Load(<data/3be163df21>, 0, 0) returned error, retrying after 656.819981ms: http2: server sent GOAWAY and closed the connection; LastStreamID=1999, ErrCode=NO_ERROR, debug=""
Load(<data/4c3638d80f>, 0, 0) returned error, retrying after 391.517075ms: unexpected EOF
Load(<data/d9fddee092>, 0, 0) returned error, retrying after 359.276526ms: http2: server sent GOAWAY and closed the connection; LastStreamID=1999, ErrCode=NO_ERROR, debug=""
Load(<data/4f32dbb2ef>, 0, 0) returned error, retrying after 396.557122ms: unexpected EOF
Load(<data/9562447969>, 0, 0) returned error, retrying after 353.291331ms: http2: server sent GOAWAY and closed the connection; LastStreamID=1999, ErrCode=NO_ERROR, debug=""
Load(<data/92ce7f6e62>, 0, 0) returned error, retrying after 511.910153ms: unexpected EOF
Load(<data/2cd7265751>, 0, 0) returned error, retrying after 553.62672ms: unexpected EOF
Load(<data/30e7009054>, 0, 0) returned error, retrying after 522.077787ms: http2: server sent GOAWAY and closed the connection; LastStreamID=1999, ErrCode=NO_ERROR, debug=""
```

but completes successfully (except for the warnings) with the message "no errors were found".
<!--
In this section, please try to concentrate on observations, so only describe
what you observed directly.
-->

Steps to reproduce the behavior
-------------------------------

The restore needs to be large in order to trigger what seems to be a race condition. The example above is a directory structure of 15000 files of varying sizes, in 1000 directories, totalling 25 GB. The results vary, but usually a single-digit number of files are damaged when restoring.

Do not set the environment variable `GODEBUG=http2client=0` when reproducing.

<!--
The more time you spend describing an easy way to reproduce the behavior (if
this is possible), the easier it is for the project developers to fix it!
-->

Do you have any idea what may have caused this?
-----------------------------------------------

Pull request #3254 seems to be related. See also issue #849 – the same problem was present in 2017
and was supposedly resolved in Go ≥1.8, but seems to have reappeared.

Bisection narrows it down to commit 2dd592a0. The problems are present in a restic binary built with go1.15.8 from this commit, while a binary built with go1.15.8 from the parent commit 6ac032be is able to restore the files without corruption, and run the `restic check --read-data` without producing warning messages.

Commit 2dd592a0 has the bug:

```
# ./restic-2dd592a0 version
restic 0.11.0 (v0.11.0-373-g2dd592a0) compiled with go1.15.8 on linux/amd64
# ./restic-2dd592a0 restore -t /work/root/restore-2dd592a0 50f805e3
repository 7fac121f opened successfully, password is correct
restoring <Snapshot 50f805e3 of [/work/root/test] at 2021-06-21 12:03:44.383294673 +0000 UTC by root@********> to /work/root/restore-2dd592a0
ignoring error for /work/root/test/dir020/0005.bin: http2: server sent GOAWAY and closed the connection; LastStreamID=1999, ErrCode=NO_ERROR, debug=""
ignoring error for /work/root/test/dir378/0002.bin: http2: server sent GOAWAY and closed the connection; LastStreamID=1999, ErrCode=NO_ERROR, debug=""
ignoring error for /work/root/test/dir737/0001.bin: http2: server sent GOAWAY and closed the connection; LastStreamID=1999, ErrCode=NO_ERROR, debug=""
Load(<data/8079cb1c40>, 4505258, 0) returned error, retrying after 298.484759ms: http2: server sent GOAWAY and closed the connection; LastStreamID=1999, ErrCode=NO_ERROR, debug=""
ignoring error for /work/root/test/large0014.bin: http2: server sent GOAWAY and closed the connection; LastStreamID=1999, ErrCode=NO_ERROR, debug=""
ignoring error for /work/root/test/large0014.bin: http2: server sent GOAWAY and closed the connection; LastStreamID=1999, ErrCode=NO_ERROR, debug=""
ignoring error for /work/root/test/dir020/0005.bin: UtimesNano: no such file or directory
ignoring error for /work/root/test/dir378/0002.bin: UtimesNano: no such file or directory
Fatal: There were 7 errors
# diff -ru /work/root/test/ /work/root/restore-2dd592a0/work/root/test/ && echo OK
Only in /work/root/test/dir020: 0005.bin
Only in /work/root/test/dir378: 0002.bin
Binary files /work/root/test/large0014.bin and /work/root/restore-2dd592a0/work/root/test/large0014.bin differ
```

while the parent commit 6ac032be works fine:

```
# ./restic-6ac032be version
restic 0.11.0 (v0.11.0-370-g6ac032be) compiled with go1.15.8 on linux/amd64
# ./restic-6ac032be restore -t /work/root/restore-6ac032be 50f805e3
repository 7fac121f opened successfully, password is correct
restoring <Snapshot 50f805e3 of [/work/root/test] at 2021-06-21 12:03:44.383294673 +0000 UTC by root@********> to /work/root/restore-6ac032be
# diff -ru /work/root/test/ /work/root/restore-6ac032be/work/root/test/ && echo OK
OK
```


Do you have an idea how to solve the issue?
-------------------------------------------

No, I don't know if the underlying cause is a bug in the go http library
(if so, restic should perhaps consider disabling HTTP/2 until it has been fixed upstream),
or if the client code is supposed to handle this, and retry requests that fail with GOAWAY.

Did restic help you today? Did it make you happy in any way?
------------------------------------------------------------

Yes, we are using restic at work to backup file systems, MySQL dumps and PostgreSQL dumps on around 70 hosts,
and it has made backup so much easier. It's been very stable and keeps getting even better!


<!--
Answering this question is not required, but if you have anything positive to share, please do so here!
Sometimes we get tired of reading bug reports all day and a little positive end note does wonders.
Idea by Joey Hess, https://joeyh.name/blog/entry/two_holiday_stories/
-->


I don't have much time right now, but it looks like either nginx or minio closes the HTTP2 connection (maybe because it was idle too long), `http2: server sent GOAWAY and closed the connection` means the server has closed the connection. Do you maybe have a very low timeout for idle connections configured in nginx? Any hints in the logfile?

In general, restic should retry all errors for a while, so I would have expected that it'd just retry and make a new connection until it eventually succeeds. That's apparently what `restic check` does, but `restore` does not... @aawsome any idea why that may be?

The timeout settings have been increased from nginx's default of 60 seconds to 900 seconds. The relevant part of the nginx configuration reads:

```
        client_max_body_size 0;
        proxy_buffering off;
        proxy_connect_timeout 900;
        proxy_send_timeout 900;
        proxy_read_timeout 900;
        send_timeout 900;
```

and the nginx logs contain no unusual entries.

It strikes me as interesting that every occurrence of this error message refers to `LastStreamID=1999`. nginx has a configuration setting `http2_max_requests` with a default value of 1000, which we haven't changed in our configuration. The [nginx http2_max_requests documentation](http://nginx.org/en/docs/http/ngx_http_v2_module.html#http2_max_requests) states:

> Sets the maximum number of requests (including push requests) that can be served through one HTTP/2 connection, after which the next client request will lead to connection closing and the need of establishing a new connection.
> 
> Closing connections periodically is necessary to free per-connection memory allocations. Therefore, using too high maximum number of requests could result in excessive memory usage and not recommended.

The GOAWAY frame is a message from the server to the client that the connection is about to close (see [RFC7540 Section 6.8](https://datatracker.ietf.org/doc/html/rfc7540#section-6.8)), so connections being closed after a maximum number of requests seems normal and to be expected.

I tried to lower the `http2_max_requests` setting from 1000 to 200 in nginx, and this makes `restic backup` fail with `LastStreamID=399`:

```
ignoring error for /work/root/test/0803.bin: http2: server sent GOAWAY and closed the connection; LastStreamID=399, ErrCode=NO_ERROR, debug=""
Load(<data/01e6f16a0a>, 5037679, 0) returned error, retrying after 282.818509ms: http2: server sent GOAWAY and closed the connection; LastStreamID=399, ErrCode=NO_ERROR, debug=""
```

Note the exact off-by-a-factor-of-2 difference (assuming that StreamID starts counting at 0) between the nginx config setting and the LastStreamID reported by restic. I don't have an explanation for this factor, but it is obvious that the http2_max_requests setting and the reported LastStreamID are strongly correlated.

I don't think the server is doing anything out-of-spec here (it looks like a regular close of a well-worn connection, which the client should be expected to handle).

According to [section 5.4.1 of the HTTP/2 RFC](https://datatracker.ietf.org/doc/html/rfc7540#section-5.4.1) even the GOAWAY frame is optional:

> [...] An endpoint can end a connection at any time. [...]

and there is a known race condition (see [section 6.8](https://datatracker.ietf.org/doc/html/rfc7540#section-6.8)) that may be relevant, and may explain why only a few of the HTTP/2 requests sent by restic fail:

> The GOAWAY frame (type=0x7) is used to initiate shutdown of a
   connection or to signal serious error conditions.  GOAWAY allows an
   endpoint to gracefully stop accepting new streams while still
   finishing processing of previously established streams.  This enables
   administrative actions, like server maintenance.
>
> There is an inherent race condition between an endpoint starting new
   streams and the remote sending a GOAWAY frame.  To deal with this
   case, the GOAWAY contains the stream identifier of the last peer-
   initiated stream that was or might be processed on the sending
   endpoint in this connection.  For instance, if the server sends a
   GOAWAY frame, the identified stream is the highest-numbered stream
   initiated by the client.

I think this is a regression of #3109, which accidentally broke retrying failed pack downloads.

https://github.com/restic/restic/blob/cb6fd281a0072a6582d15b9a87c28b7b565f98ae/internal/restorer/filerestorer.go#L261

In case of network problems `loadBlob` can now return an error which is then "ignored" by sanitizeError. And that causes the `packLoader` loop to not retry requests.

@perhov Could you replaces lines 263-267 in `internal/restorer/filerestorer.go` which currently contain
```go
				for file := range blob.files {
					if errFile := sanitizeError(file, err); errFile != nil {
						return errFile
					}
				}
```
with
```
				return errFile
```
? If my guess about the problem source is right, that should allow the `restore` command to properly retry the failed requests.

Regarding the HTTP2 error itself, does problem persist with Go 1.15.13?



> Note the exact off-by-a-factor-of-2 difference (assuming that StreamID starts counting at 0) between the nginx config setting and the LastStreamID reported by restic. I don't have an explanation for this factor, but it is obvious that the http2_max_requests setting and the reported LastStreamID are strongly correlated.

The last bit of a streamID defines whether the ID is owned by a client or server. That is only every second ID belongs to a client or server.

With this patch:

```
diff --git a/internal/restorer/filerestorer.go b/internal/restorer/filerestorer.go
index d2f71ce8..5a7c5957 100644
--- a/internal/restorer/filerestorer.go
+++ b/internal/restorer/filerestorer.go
@@ -260,11 +260,7 @@ func (r *fileRestorer) downloadPack(ctx context.Context, pack *packInfo) error {
                        }
                        blobData, buf, err = r.loadBlob(bufRd, blobID, blob.length, buf)
                        if err != nil {
-                               for file := range blob.files {
-                                       if errFile := sanitizeError(file, err); errFile != nil {
-                                               return errFile
-                                       }
-                               }
+                               return errFile
                                continue
                        }
                        currentBlobEnd = blob.offset + int64(blob.length)
```

build fails with:

```
$ make
go run build.go
# github.com/restic/restic/internal/restorer
internal/restorer/filerestorer.go:263:12: undefined: errFile
build failed: exit status 2
exit status 1
make: *** [Makefile:6: restic] Error 1
```



@perhov Oh, sorry the replacement should have read 
```
return err
```

This patch:

```
diff --git a/internal/restorer/filerestorer.go b/internal/restorer/filerestorer.go
index d2f71ce8..1bd765f6 100644
--- a/internal/restorer/filerestorer.go
+++ b/internal/restorer/filerestorer.go
@@ -260,12 +260,7 @@ func (r *fileRestorer) downloadPack(ctx context.Context, pack *packInfo) error {
                        }
                        blobData, buf, err = r.loadBlob(bufRd, blobID, blob.length, buf)
                        if err != nil {
-                               for file := range blob.files {
-                                       if errFile := sanitizeError(file, err); errFile != nil {
-                                               return errFile
-                                       }
-                               }
-                               continue
+                               return err
                        }
                        currentBlobEnd = blob.offset + int64(blob.length)
                        for file, offsets := range blob.files {
```

looks good, the `ignoring error` warnings are gone and the restore is no longer corrupted:

```
# ./restic-patched1 restore -t /work/root/restore-patched1 50f805e3
repository 7fac121f opened successfully, password is correct
restoring <Snapshot 50f805e3 of [/work/root/test] at 2021-06-21 12:03:44.383294673 +0000 UTC by root@********> to /work/root/restore-patched1
Load(<data/91cc6bc333>, 4495422, 0) returned error, retrying after 462.318748ms: http2: server sent GOAWAY and closed the connection; LastStreamID=1999, ErrCode=NO_ERROR, debug=""
Load(<data/4db088e174>, 1048640, 1048608) returned error, retrying after 593.411537ms: http2: server sent GOAWAY and closed the connection; LastStreamID=1999, ErrCode=NO_ERROR, debug=""
Load(<data/8806ac5856>, 4913998, 0) returned error, retrying after 282.818509ms: http2: server sent GOAWAY and closed the connection; LastStreamID=1999, ErrCode=NO_ERROR, debug=""
Load(<data/704e4d20b2>, 5111091, 0) returned error, retrying after 328.259627ms: http2: server sent GOAWAY and closed the connection; LastStreamID=1999, ErrCode=NO_ERROR, debug=""
Load(<data/d239b86623>, 4538571, 0) returned error, retrying after 507.606314ms: http2: server sent GOAWAY and closed the connection; LastStreamID=1999, ErrCode=NO_ERROR, debug=""
Load(<data/a0f460833f>, 4194464, 0) returned error, retrying after 656.819981ms: http2: server sent GOAWAY and closed the connection; LastStreamID=1999, ErrCode=NO_ERROR, debug=""
Load(<data/92399bda1c>, 5077564, 0) returned error, retrying after 409.029087ms: http2: server sent GOAWAY and closed the connection; LastStreamID=1999, ErrCode=NO_ERROR, debug=""
Load(<data/94c34ad7a2>, 4237834, 0) returned error, retrying after 359.276526ms: http2: server sent GOAWAY and closed the connection; LastStreamID=1999, ErrCode=NO_ERROR, debug=""
Load(<data/35f1538b11>, 5808147, 0) returned error, retrying after 351.593438ms: http2: server sent GOAWAY and closed the connection; LastStreamID=1999, ErrCode=NO_ERROR, debug=""
Load(<data/2a8ff1edf5>, 5868246, 0) returned error, retrying after 681.245719ms: http2: server sent GOAWAY and closed the connection; LastStreamID=1999, ErrCode=NO_ERROR, debug=""
# diff -ru /work/root/test/ /work/root/restore-patched1/work/root/test/ && echo OK
OK
```

When compiling with Go 1.15.13, the HTTP2 error messages still remain:

```
# ./restic-patched1.go1.15.13 version
restic 0.12.0 (v0.12.0-0-g27f24133-dirty) compiled with go1.15.13 on linux/amd64

# ./restic-patched1.go1.15.13 restore -t /work/root/restore-patched1.go1.15.13 50f805e3
repository 7fac121f opened successfully, password is correct
restoring <Snapshot 50f805e3 of [/work/root/test] at 2021-06-21 12:03:44.383294673 +0000 UTC by root@********> to /work/root/restore-patched1.go1.15.13
Load(<data/4db088e174>, 1048640, 1048608) returned error, retrying after 462.318748ms: http2: server sent GOAWAY and closed the connection; LastStreamID=1999, ErrCode=NO_ERROR, debug=""
Load(<data/8806ac5856>, 4913998, 0) returned error, retrying after 593.411537ms: http2: server sent GOAWAY and closed the connection; LastStreamID=1999, ErrCode=NO_ERROR, debug=""
[...]
```

@MichaelEischer Thanks for tracking this and sorry that I didn't find time yet to look myself after this problem.
I think it might be as well #3207 which introduced this bug.

The workaround of @MichaelEischer is a good starting point. I didn't figure out if this still yields the desired behavior if the retries finally fail. IMO in this case `restore` should ignore the error and proceed with restoring but return an error code and tell which files failed to restore.

I fear I don't have time to fix this in the next 4-6 weeks, but if it remains open, I'll take a look once I have more time. Or is there anyone else who wants to take over?

@MichaelEischer Thanks for the fix, I appreciate your help!

Restic 0.12.1 behaves well (restore completes successfully without corrupted files).

I have also tried nginx 1.19.1 and the GOAWAY-error messages are gone there as well.

@perhov Then I think we close this issue? The bug in restic has been fixed and the GOAWAY-error seems to be caused by nginx which is nothing we can fix.

Sure! Thanks again!